# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2013-2016, Sven Eckelmann <ssven.eckelmann@open-mesh.com>

/aircap.pcap
/airtime-pie-chart.dat
/airtime-pie-chart.png
/airtime_analyzer
*.o
*.d
